@using Microsoft.Extensions.Options
@using MusicStoreApp.Core
@inject IOptions<AppMenuComponent> AppMenu

        <table class="table">
            <tbody>
                @foreach (var item in AppMenu.Value.MenuComponents)
                {
                    <tr>
                        <td>
                          
                            <a asp-controller="@item.MenuComponentUrl.Controller" asp-action="@item.MenuComponentUrl.Action">@item.DisplayText</a>

                        </td>
                    </tr>
                    foreach (var subItem in item.MenuComponents)
                     {
                        <tr>
                            <td>
                                @subItem.DisplayText
                            </td>
                        </tr>
                     }
                }
            </tbody>
        </table>








        
